<div class="table-type-msg">Results for <span>{{type}}</span> type:</div>
<table>
    {{#if isEmpty}}
        {{result-table-header-empty}}
    {{else}}
        {{result-table-header parameters=parameters type=type}} {{result-table-body parameters=parameters type=type content=content}}
        {{#each-in meta.pagination as |param p|}}
            <li>{{param}}: {{p}}</li>
        {{/each-in}}
    {{/if}}
</table>
