<td>{{add index}}</td>
{{#if showMapping}}
    <td>{{item.parameterUuid}}</td>
{{else}}
    <td> <a {{action 'onConceptClick' item}}>{{item.parameterUuid}}</a> </td>
    <td> <a {{action 'onConceptClick' item}}>{{await concept.preflabel}}</a> </td>
{{/if}}

<td>{{item.parameterType}}</td>

{{#each parameters as |param|}}
    {{#unless (eql param "uuid") }}
        <td>
            {{get item (capitalize-parameter-name param)}}
        </td>
    {{/unless}}
{{/each}}
