<td>{{add index}}</td>
<td> <a {{action 'onConceptClick' item}}>{{item.parameterUuid}}</a> </td>
<td>{{item.parameterType}}</td>

{{#each parameters as |param|}}
    {{#unless (eql param "type") }}
        {{#unless (eql param "uuid") }}
            <td>
                {{#if (eql param "preflabel")}}
                    <a {{action 'onConceptClick' item}}>{{get item (capitalize-parameter-name param)}}</a>
                {{/if}}
                {{#unless (eql param "preflabel")}}
                    {{get item (capitalize-parameter-name param)}}
                {{/unless}}
            </td>
        {{/unless}}
    {{/unless}}
{{/each}}
