<div class="table-type-msg">Results for <span>{{type}}</span> type:</div>
<table>
    {{#if isEmpty}}
        {{result-table-header-empty}}
    {{else}}
        {{result-table-header parameters=content.parameters type=type}} {{result-table-body parameters=content.parameters type=type content=content.validationResults}}
    {{/if}}
</table>
