<td>{{add index}}</td>
{{#if showConcept}}
    <td> <a href="http://data.europa.eu/esco/occupations/{{item.parameterUuid}}">{{item.parameterUuid}}</a> </td>
    <td> <a href="http://data.europa.eu/esco/occupations/{{item.parameterUuid}}">{{await concept.preflabel}}</a> </td>
{{else}}
    <td>{{item.parameterUuid}}</td>
{{/if}}

<td>{{item.parameterType}}</td>

{{#each parameters as |param|}}
    {{#unless (eql param "uuid") }}
        <td>
            {{get item (capitalize-parameter-name param)}}
        </td>
    {{/unless}}
{{/each}}
