{{#if nextTimestamp}}
    <div class="previous-selector">
        {{#power-select options=previousList selected=nextTimestamp onchange=(action "selectTimestamp") as |time|}}
            {{time}}
        {{/power-select}}
        <button class="btn btn--small" disabled={{timestampChanged}} {{action "fetchPrevious"}}>Fetch previous results</button>
    </div>
{{/if}}
{{#if hideTable}}
    {{#if isLoading}}
        <div class="loading">
            <i class="fa fa-circle-o-notch fa-spin"></i>
        </div>
    {{/if}}
    {{#unless isLoading}}
        {{#if error}}
            The validation failed.
        {{/if}}
        {{#unless error}}
            {{#if busy}}
                <div class="block block--description">
                    A query is already running, try again later.
                </div>
            {{else}}
                <button class="btn btn--small" disabled= {{disableButton}} {{action "runQuery"}}>Run query</button>
            {{/if}}
        {{/unless}}
    {{/unless}}
{{/if}}


{{#unless hideTable }}
    <h2>Timestamp of the results: {{timestamp}}</h2>
    {{#each types as |type|}}
        {{result-table ruleid=ruleid type=type parameters=parameters timestamp=timestamp onConceptClick=(action 'onConceptClick')}}
    {{/each}}
{{/unless}}
