<div class="validation">
    <div class="left">
        <div class="main-nav">
            <button type="button" class="btn" {{action "runSelectedQueries"}}>{{buttonLabel}}</button>
            <button type="button" class="btn" {{action "toggleCache"}}>{{cacheLabel}}</button>
            <input type="number" class="values" value={{timeOut}} onchange= {{action 'setTimeOut' value='target.value'}} min="1" max="24" />
            <button type="button" class="btn" {{action "saveTimeOut"}}>Save timeout</button>
        </div>
        <div class="queries-nav">
            {{#if combinedTables}}
                {{combined-result-tables relationships=runQueriesResults.data.relationships included=runQueriesResults.included}}
            {{else}}
                {{validation-list-view validations=validationsData manageKeys="manageKeys" showValidation="showValidation"}}
            {{/if}}
        </div>
    </div><!-- /.left -->
    <div class="right">
        <div class="output">
            {{#if validation-to-show}}
                {{validation-detailed-view validation=validation-to-show cache=cache}}
            {{else}}
                <div class="empty-message">Choose a rule!</div>
            {{/if}}
        </div>
    </div><!-- /.right -->
</div><!-- /.validation -->
