<div class="validation">
    <div class="validation--left">
        <div class="main__nav">
            <button type="button" class="btn--master" {{action "runSelectedQueries"}}>{{buttonLabel}}</button>
            <button type="button" class="btn--toggle btn--checked" {{action "toggleCache"}}>{{cacheLabel}}</button>
            <div class="timeout">
                <input type="number" class="value--timeout" value={{timeOut}} onchange= {{action 'setTimeOut' value='target.value'}} min="1" max="24" />
                <button type="button" class="btn--timeout" {{action "saveTimeOut"}}>Save timeout</button>
            </div>
        </div>
        <div class="shadow clearfix"></div>
        <div class="queries__nav">
            {{#if combinedTables}}
            {{else}}
                {{validation-list-view validations=validationsData manageKeys="manageKeys" showValidation="showValidation"}}
            {{/if}}
        </div>
    </div><!-- /.left -->
    <div class="validation--right">
        <div class="output">
            {{#if validation-to-show}}
                {{validation-detailed-view validation=validation-to-show cache=cache}}
            {{else}}
                <div class="empty-message">Choose a rule!</div>
            {{/if}}
            {{#if combinedTables}}
                {{combined-result-tables relationships=runQueriesResults.data.relationships included=runQueriesResults.included}}
            {{/if}}
        </div>
    </div><!-- /.right -->
</div><!-- /.validation -->
