<div class="query-nav">
    <button type="button" class="btn" {{action "runSelectedQueries"}}>
        {{buttonLabel}}
    </button>

    <button type="button" class="btn" {{action "toggleCache"}}>
        {{cacheLabel}}
    </button>

    <input type="number" class="values" value={{timeOut}} onchange= {{action 'setTimeOut' value='target.value'}} min="1" max="24" />
    <button type="button" class="btn" {{action "saveTimeOut"}}>
        Save timeout
    </button>

    {{#if combinedTables}}
        <div class="">
            {{combined-result-tables relationships=runQueriesResults.data.relationships included=runQueriesResults.included}}
        </div>
    {{else}}
        <div class="">
            {{validation-list-view validations=validationsData manageKeys="manageKeys" showValidation="showValidation"}}
        </div>
        <div class="query-results">
            {{#if validation-to-show}}
                {{validation-detailed-view validation=validation-to-show}}
            {{else}}
                <div class="empty-message">
                    Choose a rule!
                </div>
            {{/if}}
        </div>
    {{/if}}
</div>
