<div class="query-nav">
    {{#if combinedTables}}
        <div class="">
            <button type="button" class="btn btn-info-outline btn-block" {{action "runSelectedQueries"}}>
                {{buttonLabel}}
            </button>
            {{combined-result-tables relationships=runQueriesResults.data.relationships included=runQueriesResults.included}}
        </div>
    {{else}}
        <div class="">
            <button type="button" class="btn btn-info-outline btn-block" {{action "runSelectedQueries"}}>
                {{buttonLabel}}
            </button>
            {{validation-list-view validations=validationsData manageKeys="manageKeys" showValidation="showValidation"}}
        </div>
    {{/if}}
</div>

<div class="query-results">
    {{#if validation-to-show}}
        {{validation-detailed-view validation=validation-to-show}}
    {{else}}
        <div class="list-group-item empty-list">
            <div class="empty-message">
                Choose a rule!
            </div>
        </div>
    {{/if}}
</div>
