<div class="block block--description">
    <h2>Description</h2>
    <div>{{description}}</div>
</div>

{{!-- {{#unless showDetails}}
<button class="btn btn--small" {{action "showQueryDetails"}}>Show query details</button>
{{/unless}} {{!-- {{#if showDetails}}
--}} {{!-- <div class="block block--query">
    <h2>Query</h2>
    <div>{{query}}</div>
    </div> --}}
    {{#unless typesArrayEmpty}}
        <div class="block block--types">
            <h2>Type</h2>
            <div>{{types}}</div>
        </div>
    {{/unless}}
    {{#unless parameterArrayEmpty}}
        <div class="block block--parameters">
            <h2>Parameters</h2>
            <div>{{parameters}}</div>
        </div>
    {{/unless}}
    {{!-- {{/if}}
    --}}
