<div class="validation">
    <div class="validation--left">
        <div class="main__nav">
            <button type="button" id="runQueries" class="btn--master" {{action "runSelectedQueries"}}>{{buttonLabel}}</button>
        </div>
        <div class="shadow clearfix"></div>
        <div class="queries__nav">
            {{#if combinedTables}}
            {{else}}
                {{validation-list-view validations=validationsData manageKeys="manageKeys" showValidation="showValidation" platform=platform selected=validation-to-show}}
            {{/if}}
        </div>
    </div><!-- /.left -->
    <div class="validation--right">
        <div class="output">
            {{#if combinedTables}}
                {{combined-result-tables relationships=runQueriesResults.data.relationships included=runQueriesResults.included}}
            {{else}}
                {{#if validation-to-show}}
                    {{validation-detailed-view validation=validation-to-show}}
                {{else}}
                    <div class="empty-message">Choose a rule!</div>
                {{/if}}
            {{/if}}
        </div>
    </div><!-- /.right -->
</div><!-- /.validation -->
