<div class="">
    {{!-- TODO: DIFFERENT DESIGN FOR SELECTED / NOT SELECTED --}}
    <button type="button" class="btn btn--checkbox {{#if checked}}btn--checked{{/if}}" {{action "setChecked"}}>
        {{#if checked}}
            {{checkedLabel}}
        {{else}}
            {{notCheckedLabel}}
        {{/if}}
    </button>
    <button type="button" class="btn" {{action "showValidation"}}>{{validation.name}}</button>
</div>
